tr {
  padding: 4px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    cursor: pointer;
  }
}


.red {
  color: red;
}
