.navbar-lewagon {
  justify-content: space-between;
  //background: #FFCD1F;  //yellow
  background: #4257B2; //blue version
  h2 {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
