.navbar-lewagon {
  justify-content: space-between;
  //background: #FFCD1F;  //yellow
  background: #4257B2; //blue version
  h2 {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav a:hover {
  background-color: transparent;
  text-decoration: none;
  color: $qyellow;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $qyellow;
}
